 /* CSS reset*/
 
 .iconContainer::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* end of reset */


body{
line-height: 1.5;
-webkit-font-smoothing: antialiased;
background-image: url(./assets/images/background.jpg);
background-size:cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
background-attachment: fixed;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}

.imageContainer{
    width: 60%;
    max-width: 400px;
    overflow: hidden;
    }

    .imageContainer img{
    height: auto;
    width: 100%;
    object-fit: cover;
    }

    main{
        display: grid;
    }

    .aboutContainer{
        display: grid;
        grid-template-rows: 1fr 7fr 1fr;
        justify-items:  center;
    }

    .headerContainer{
    padding-top: 0.5em;
    font-size: 1.3em;
    }

    .textContainer p{
    line-height: 1.4;
    font-size: clamp(1.2rem, 2vw, 1.25rem);
    margin-bottom: 1em;
    text-align: justify;
    margin-left: 1em;
    margin-right: 1em;
 
    }

    .iconContainer{
    height: auto;
    width: 100%;
    display: flex;
    gap: 0.5em;
    justify-content: center;
    }

.iconContainer img{
    height: auto;
    width: 100%;
    object-fit: cover;
    max-width: 35px;

}

.workSection{width: 100%;
display: flex;
justify-content: center;}

.myWork{
  margin-top: 2vh;
display: grid;
gap: 2%;
grid-template-rows: 0.5fr, repeat(7, 1fr);
justify-items: center;
max-width: 80%;
}

  .workTxtContainer{
    grid-row-start: 2;
    background-color:white;
    opacity: 85%;
    width: 100%;
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    font-size: 1.3em;
  }

  .workTxtContainer p{
  padding: 5px;
  }


.project{
  display: grid;
  grid-template-rows: 2fr 1fr;;
  justify-items: center;
  padding: 10px;
  background-color: #b8b4ab;
  box-shadow: 2px 4px 10px -5px black;
}

.project img{
 width: 100%;
 height: 100%;
 object-fit: cover;
 grid-row: 1/2;
}

  .topRow{
    display: grid;
    grid-template-columns: repeat(4, 2.5fr);
    align-items: center;
    padding-top: 6px;
    margin-bottom: 7px;
  }

  .topRow h5{
  grid-column: 2/3;
  font-size: 1.2em;
  font-style: italic;
  white-space: nowrap;
  }

  .workTxtContainer img{
    min-height: 20px;
  }

.topRow a, .projectLinkImg{

  max-width: 30px;
  grid-column-start: 4;
}